@font-face {
  font-family: "IQOSSans-Regular";
  src: url("../fonts/IQOSSans-Regular.eot");
  src: url("../fonts/IQOSSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/IQOSSans-Regular.woff") format("woff"),
    url("../fonts/IQOSSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
