@import "_fonts";
html {
  overflow-y: hidden;
}
body {
  background-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: #fff;
  max-width: 500px;
  height: 80vh;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .title {
    font-family: "IQOSSans-Regular";
  }
  .timer {
    font-family: "IQOSSans-Regular";
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: red;
  }
  .text-section {
    font-family: "IQOSSans-Regular";
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 20px;
    line-height: 150%;
  }
  .btn-section {
    .btn {
      font-family: "IQOSSans-Regular";
      width: 100%;
      text-align: center;
      font-size: 18px;
      line-height: 130%;
      border-radius: 15px;
      margin: 7px 0;
      height: 46px;
      border: none;
      color: #fff;
    }
    .btn-stop {
      background: linear-gradient(
          99.59deg,
          rgba(239, 239, 239, 0.6) -7.75%,
          rgba(255, 255, 255, 0.08) 92.89%
        ),
        linear-gradient(180deg, #f73535 0, #c8484f 100%);
    }
    .btn-start {
      background: linear-gradient(
          99.59deg,
          rgba(239, 239, 239, 0.6) -7.75%,
          rgba(255, 255, 255, 0.08) 92.89%
        ),
        linear-gradient(180deg, #00d1d2 0, #03a6a7 100%);
    }
  }
}
