@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rubik+Glitch&display=swap");
body {
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.container {
  max-width: 1920px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

@media screen and (max-width: 1440px) {
  .main .container .main_logo-section {
    width: 252px;
    height: 136px;
  }
  .main .container .main_logo-section .logo-img {
    width: 100%;
    height: auto;
  }
  .main .container .main_logo-section .logo-text {
    max-width: 197px;
    height: 22px;
    margin: 25px 0 0 0;
  }
}
@media screen and (max-width: 900px) {
  .main .container {
    padding-top: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .main .container .main_logo-section {
    width: 252px;
    height: 136px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 26px auto;
  }
  .main .container .main_logo-section .logo-text {
    margin: 38px 0 0 0;
    max-width: 197px;
    height: 22px;
  }
}
@font-face {
  font-family: "SangBleuSunrise";
  src: url("../fonts/SangBleuSunrise.eot");
  src: url("../fonts/SangBleuSunrise.eot?#iefix") format("embedded-opentype"), url("../fonts/SangBleuSunrise.woff") format("woff"), url("../fonts/SangBleuSunrise.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.card_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.card_block .card_text {
  margin: 5% 0 0 5%;
  max-width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.card_block .card_text .card_title {
  margin: 0 auto;
  max-width: 489px;
  font-family: "Rubik Glitch";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 76px;
  text-align: center;
  text-transform: uppercase;
  color: #D3996D;
}
@media (max-width: 800px) {
  .card_block .card_text .card_title {
    font-size: 58px;
    line-height: 58px;
  }
}
@media (max-width: 500px) {
  .card_block .card_text .card_title {
    font-size: 48px;
    line-height: 48px;
  }
}
@media (max-width: 425px) {
  .card_block .card_text .card_title {
    font-size: 36px;
    line-height: 48px;
  }
}
.card_block .card_text .card_subtitle {
  position: relative;
  z-index: 50;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #D3996D;
}
@media (max-width: 800px) {
  .card_block .card_text .card_subtitle {
    font-size: 18px;
    line-height: 20px;
  }
}
@media (max-width: 800px) {
  .card_block .card_text {
    margin: 56px auto 0 auto;
    max-width: 90vw;
  }
}
@media (max-height: 800px) {
  .card_block .card_text {
    margin: 0;
  }
}
.card_block .card_mobile-img {
  display: none;
}
@media (max-width: 800px) {
  .card_block .card_mobile-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }
  .card_block .card_mobile-img .mobile-img {
    max-width: 80%;
  }
}
.card_block .card_dialog {
  cursor: pointer;
  padding: 0px 10px;
  -ms-grid-row-align: center;
  align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
  grid-template-columns: 3fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60vw;
  margin: 200px auto 0 auto;
  background: rgba(0, 0, 0, 0.35);
  border: 1px solid #971C1C;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 4px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.card_block .card_dialog .card_dialog-avatar {
  max-width: 100%;
}
.card_block .card_dialog .card_dialog-text {
  max-width: 669px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFDBD3;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
.card_block .card_dialog .card_dialog-text .map_link {
  text-decoration: none;
  font-family: "SangBleuSunrise";
}
.card_block .card_dialog .card_dialog-text .map_link .remove_map {
  color: #B58260;
  font-size: 28px;
}
@media (max-width: 800px) {
  .card_block .card_dialog .card_dialog-text .map_link .remove_map {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 800px) {
  .card_block .card_dialog .card_dialog-text {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 800px) {
  .card_block .card_dialog .card_dialog-text {
    font-size: 16px;
    line-height: 16px;
  }
}
@media (max-width: 500px) {
  .card_block .card_dialog .card_dialog-text {
    font-size: 14px;
    line-height: 14px;
  }
}
.card_block .card_dialog .card_dialog-item {
  max-width: 100%;
  z-index: 0;
}
.card_block .card_dialog:hover {
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  width: 63vw;
}
@media (max-width: 800px) {
  .card_block .card_dialog {
    margin: -8% auto 0 auto;
    width: 90vw;
  }
}
.card_block .card_label {
  position: relative;
  z-index: 20;
  margin: 0% auto 5% auto;
  padding: 25px 0 25px 0;
  width: 95vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 132px;
}
.card_block .card_label .label {
  width: 241px;
  height: 132px;
}
@media (max-width: 800px) {
  .card_block .card_label .label {
    width: 142px;
    height: 76px;
  }
}
.card_block .card_label .age {
  width: 70px;
  height: 46px;
}
@media (max-width: 800px) {
  .card_block .card_label .age {
    width: 47px;
    height: 30px;
  }
}
@media (max-height: 800px) {
  .card_block .card_label {
    margin: 0% auto 0% auto;
  }
}

.main {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/main/bgMain.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.main_logo-section {
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 40;
  position: absolute;
  right: 5%;
  top: 61px;
}
.main_logo-section .logo-img {
  width: 100%;
  height: auto;
}
@media (max-height: 700px) {
  .main_logo-section .logo-img {
    max-width: 70%;
    margin: 0 0 0 0;
  }
}
.main_logo-section .logo-text {
  width: 312px;
  height: 36px;
  margin: 38px 0 0 0;
}
@media (max-height: 700px) {
  .main_logo-section .logo-text {
    width: 312px;
    height: 36px;
    margin: 10px 0 0 0;
  }
}
@media (max-height: 700px) {
  .main_logo-section {
    position: absolute;
    right: 3%;
    top: 0;
  }
}
.main_hero-section {
  position: absolute;
  top: 10%;
  left: 11%;
  width: 45%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
}
.main_hero-section .hero {
  cursor: pointer;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  max-width: 100%;
}
@media (max-height: 700px) {
  .main_hero-section .hero {
    max-width: 60%;
  }
}
.main_hero-section .kru {
  z-index: 30;
}
@media screen and (max-width: 1059px) {
  .main_hero-section .kru {
    margin: 0 0 20% -50px;
  }
}
@media (max-height: 700px) {
  .main_hero-section .kru {
    margin: 0 0 20% -20px;
  }
}
.main_hero-section .porech {
  z-index: 20;
  margin: 150px 0 0 -200px;
}
@media screen and (max-width: 1059px) {
  .main_hero-section .porech {
    margin: 0 0 15% -40%;
  }
}
@media (max-height: 700px) {
  .main_hero-section .porech {
    margin: 0 0 20% -60px;
  }
}
.main_hero-section .woman {
  margin: 200px 0 0 -200px;
}
@media screen and (max-width: 1059px) {
  .main_hero-section .woman {
    margin: 0 0 5% -45%;
  }
}
@media (max-height: 700px) {
  .main_hero-section .woman {
    margin: 0 0 10% -80px;
  }
}
.main_hero-section .hero_description {
  position: absolute;
  bottom: 15%;
  left: 50%;
  -webkit-transform: translate(-10%, -50%);
  -ms-transform: translate(-10%, -50%);
  transform: translate(-10%, -50%);
  z-index: 300;
  width: 692px;
  height: auto;
  padding: 18px 14px 30px 14px;
  background: rgba(0, 0, 0, 0.35);
  border: 1px solid #971C1C;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 4px;
}
.main_hero-section .hero_description .hero-title {
  margin: 0;
  font-family: "SangBleuSunrise";
  font-style: normal;
  font-weight: 450;
  font-size: 42px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFE1DA;
}
@media (max-width: 900px) {
  .main_hero-section .hero_description .hero-title {
    font-size: 36px;
    line-height: 62px;
  }
}
@media (max-width: 900px) {
  .main_hero-section .hero_description .hero-title {
    font-size: 24px;
  }
}
@media (max-width: 633px) {
  .main_hero-section .hero_description .hero-title {
    font-size: 18px;
  }
}
.main_hero-section .hero_description .hero-subtitle {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #D3996D;
}
@media (max-width: 900px) {
  .main_hero-section .hero_description .hero-subtitle {
    font-size: 20px;
  }
}
@media (max-width: 900px) {
  .main_hero-section .hero_description .hero-subtitle {
    font-size: 18px;
    line-height: 18px;
  }
}
@media (max-width: 633px) {
  .main_hero-section .hero_description .hero-subtitle {
    font-size: 14px;
    line-height: 14px;
  }
}
@media (max-width: 1440px) {
  .main_hero-section .hero_description {
    bottom: 15%;
    left: 50%;
    -webkit-transform: translate(-30%, -50%);
    -ms-transform: translate(-30%, -50%);
    transform: translate(-30%, -50%);
    width: 80vw;
  }
}
@media (max-width: 900px) {
  .main_hero-section .hero_description {
    bottom: 15%;
    left: 50%;
    -webkit-transform: translate(-30%, -60%);
    -ms-transform: translate(-30%, -60%);
    transform: translate(-30%, -60%);
    width: 80vw;
  }
}
@media (max-width: 728px) {
  .main_hero-section .hero_description {
    padding: 5px 7px 10px 7px;
  }
}
@media (max-width: 533px) {
  .main_hero-section .hero_description {
    bottom: 45%;
    left: 50%;
    -webkit-transform: translate(-30%, -40%);
    -ms-transform: translate(-30%, -40%);
    transform: translate(-30%, -40%);
  }
}
@media (max-height: 700px) {
  .main_hero-section .hero_description {
    bottom: 65px;
    right: 3%;
  }
}
.main_womanSvg {
  z-index: 200;
  position: absolute;
  right: 13%;
  bottom: 87px;
}
@media (max-width: 1024px) {
  .main_womanSvg {
    bottom: 25px;
  }
}
@media (max-width: 800px) {
  .main_womanSvg {
    width: 177px;
    height: 41px;
  }
}
@media (max-height: 700px) {
  .main_womanSvg {
    bottom: 65px;
    right: 3%;
  }
}
.main_age {
  z-index: 200;
  position: absolute;
  left: 25px;
  bottom: 30px;
}
@media (max-height: 700px) {
  .main_age {
    width: 47px;
    height: 30px;
    bottom: 65px;
  }
}
.main_blackout {
  z-index: 150;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 147px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.main_decoration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main_decoration .decoration {
  z-index: 50;
  position: absolute;
  max-width: 100%;
  height: auto;
}
.main_decoration .stolb1 {
  z-index: 0;
  top: 0;
  left: 0;
}
.main_decoration .stolb2 {
  z-index: 0;
  top: 0;
  right: 0;
}
.main_decoration .keyart {
  bottom: 0;
  left: 0;
  width: 17%;
}
.main_decoration .down {
  bottom: 0;
  right: 0;
  width: 40%;
}
.main_decoration .owl {
  bottom: 16.6666666667vh;
  right: 0;
  width: 10%;
}
@media (max-width: 1024px) {
  .main_decoration .owl {
    bottom: 13%;
  }
}
@media (max-width: 836px) {
  .main_decoration .owl {
    bottom: 10%;
  }
}
@media (max-width: 612px) {
  .main_decoration .owl {
    bottom: 8%;
  }
}
.main_decoration .layer1 {
  bottom: 0%;
  left: 36%;
  width: 40%;
}
.main_decoration .layer2 {
  bottom: 0%;
  left: 10%;
  width: 40%;
}
.main_decoration .layer3 {
  bottom: 0%;
  left: 20%;
  width: 40%;
}
.main_link {
  position: absolute;
  z-index: 200;
  bottom: 36px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  text-decoration: none;
}
.main_link .select-hero {
  margin: 0;
  bottom: 36px;
  font-family: "SangBleuSunrise";
  font-style: normal;
  font-weight: 450;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #B58260;
}
@media (max-width: 962px) {
  .main_link .select-hero {
    font-size: 36px;
  }
}
@media (max-width: 825px) {
  .main_link .select-hero {
    font-size: 30px;
  }
}
@media (max-width: 687px) {
  .main_link .select-hero {
    font-size: 24px;
  }
}
@media (max-width: 550px) {
  .main_link .select-hero {
    font-size: 20px;
  }
}
@media (max-width: 470px) {
  .main_link .select-hero {
    font-size: 14px;
    line-height: 14px;
  }
}
@media (max-width: 1024px) {
  .main_link {
    bottom: 106px;
  }
}
@media (max-width: 728px) {
  .main_link {
    bottom: 70px;
  }
}
@media (max-height: 700px) {
  .main_link {
    bottom: 70px;
  }
}
@media (max-width: 470px) {
  .main_link {
    bottom: 100px;
  }
}

.antikvar {
  overflow-x: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/antikvar/bgAntikvar.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 800px) {
  .antikvar {
    background-image: url("../img/antikvar/antikvar.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.antikvar .card_block .card_text {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin: 10% 5% 0 0;
}
.antikvar .card_block .card_dialog {
  -ms-grid-columns: 1fr 3fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
}

.nochlejka {
  overflow-x: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/nochlejka/nochlejka.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 800px) {
  .nochlejka {
    background-image: url("../img/nochlejka/mobile_nochlejkaj.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.nochlejka .card_block .card_content {
  margin: 2% 0 0 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
}
.nochlejka .card_block .card_content .card_text {
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.nochlejka .card_block .card_content .card_text .card_title {
  max-width: 733px;
}
.nochlejka .card_block .card_content .card_text .card_subtitle {
  max-width: 822px;
}
.nochlejka .card_block .card_content .card_videoblock {
  margin: 8% 5% 0 0;
  max-width: 848px;
  height: 434px;
}
.nochlejka .card_block .card_content .card_videoblock .video_link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.nochlejka .card_block .card_content .card_videoblock .video_link .video {
  max-width: 100%;
}
.nochlejka .card_block .card_content .card_videoblock .video_link .play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 1000px) {
  .nochlejka .card_block .card_content .card_videoblock {
    display: none;
  }
}
@media (max-width: 1000px) {
  .nochlejka .card_block .card_content {
    margin: 56px auto 0 auto;
    max-width: 90vw;
  }
}
.nochlejka .card_block .nochlejka_kontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
}
.nochlejka .card_block .nochlejka_kontent .card_dialog {
  margin-top: 70px;
  -ms-grid-columns: 1fr 4fr;
  grid-template-columns: 1fr 4fr;
}
.nochlejka .card_block .nochlejka_kontent .mobile {
  display: none;
}
.nochlejka .card_block .nochlejka_kontent .mobile .video_link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.nochlejka .card_block .nochlejka_kontent .mobile .video_link .video {
  max-width: 90%;
  height: auto;
}
.nochlejka .card_block .nochlejka_kontent .mobile .video_link .play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 1000px) {
  .nochlejka .card_block .nochlejka_kontent .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.nochlejka .card_block .card_label {
  margin: -5% auto 0 auto;
}
@media (max-height: 800px) {
  .nochlejka .card_block .card_label {
    margin: 5% auto 0% auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}

.kvartira {
  overflow-x: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/kvartira/radji.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 800px) {
  .kvartira {
    background-image: url("../img/kvartira/radjiMobile.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.kvartira .card_block .card_text {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin: 15% 5% 0 0;
}
.kvartira .card_block .card_text .radji_subtitle {
  max-width: 755px;
}
@media (max-height: 800px) {
  .kvartira .card_block .card_text {
    margin: 3% 5% 0 0;
  }
}
.kvartira .card_block .card_item-desctop {
  position: fixed;
  width: 164.56px;
  height: 164.56px;
  left: 4%;
  bottom: 15%;
}
@media (max-width: 800px) {
  .kvartira .card_block .card_item-desctop {
    display: none;
  }
}
.kvartira .card_block .card_mobile-img {
  position: relative;
}
.kvartira .card_block .card_mobile-img .card_item-mobile {
  display: none;
}
@media (max-width: 800px) {
  .kvartira .card_block .card_mobile-img .card_item-mobile {
    display: block;
    position: absolute;
    max-width: 17%;
    top: 58%;
    left: 27%;
  }
}
.kvartira .card_block .card_dialog {
  display: none;
  max-width: 827px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 34px auto 0 auto;
}
.kvartira .card_block .card_dialog .card_dialog-text {
  -ms-grid-column-align: center;
  justify-self: center;
}
@media (max-width: 850px) {
  .kvartira .card_block .card_dialog {
    width: 60vw;
  }
}
.kvartira .card_block .card_dialog .map_link {
  font-family: "SangBleuSunrise";
  text-transform: uppercase;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  margin: 0;
}
.kvartira .card_block .card_dialog .map_link .remove_map {
  color: #B58260;
  font-size: 28px;
}
@media (max-width: 800px) {
  .kvartira .card_block .card_dialog .map_link .remove_map {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
  }
}
.kvartira .card_block .card_label {
  margin: 0% auto 0% auto;
}

.traktir {
  overflow-x: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/traktir/traktir.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 800px) {
  .traktir {
    background-image: url("../img/traktir/traktirMobile.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    background-position: center;
  }
}
.traktir .card_block .card_text {
  margin: 10% 0 0 5%;
}

.police {
  overflow-x: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/police/police.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 800px) {
  .police {
    background-image: url("../img/police/policeBgMobile.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.police .card_block .card_text {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 15% 10% 0 0;
}
.police .card_block .card_text .card_title {
  max-width: 864px;
}
.police .card_block .card_subtitle {
  max-width: 729px;
}
.police .card_block .map_link {
  font-family: "SangBleuSunrise";
  text-transform: uppercase;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  margin: 0;
}
.police .card_block .map_link .remove_map {
  color: #B58260;
  font-size: 28px;
}
@media (max-width: 800px) {
  .police .card_block .map_link .remove_map {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
  }
}
.police .card_block .card_label {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  margin: -3% auto 0 auto;
}

.map {
  overflow: hidden;
  padding-top: 50px;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/map/map.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 800px) {
  .map {
    background-image: url("../img/map/mobile_map.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    background-position: center;
  }
}
.map .logo {
  display: block;
  margin: 0 auto;
  width: 331px;
  height: 180px;
}
@media (max-height: 700px) {
  .map .logo {
    width: 20%;
    height: auto;
  }
}
.map .age {
  position: absolute;
  bottom: 8%;
  left: 15px;
}
.map .womanSvg {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 257px;
  height: 57px;
}
@media screen and (max-width: 800px) {
  .map .womanSvg {
    display: none;
  }
}
.map .point_block {
  margin: 0 auto;
  width: 70vw;
  height: 100vh;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.map .point_block .point-item {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.map .point_block .point-item .point-cirkle {
  width: 62px;
  height: 62px;
  background-color: #971C1C;
  border-radius: 50%;
  border: 20px solid #3C1515;
}
@media screen and (max-width: 800px) {
  .map .point_block .point-item .point-cirkle {
    border: 15px solid #3C1515;
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 425px) {
  .map .point_block .point-item .point-cirkle {
    border: 10px solid #3C1515;
    width: 20px;
    height: 20px;
  }
}
@media (max-height: 700px) {
  .map .point_block .point-item .point-cirkle {
    border: 15px solid #3C1515;
    width: 30px;
    height: 30px;
  }
}
.map .point_block .point-item .point-text {
  width: 271px;
  height: 82px;
  font-family: "SangBleuSunrise";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 41px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 800px) {
  .map .point_block .point-item .point-text {
    font-size: 18px;
  }
}
@media screen and (max-width: 425px) {
  .map .point_block .point-item .point-text {
    max-width: 100px;
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-height: 700px) {
  .map .point_block .point-item .point-text {
    max-width: 100px;
    font-size: 14px;
    line-height: 20px;
  }
}
.map .point_block .point-raji {
  top: 33%;
  left: 10%;
}
@media (max-width: 1440px) {
  .map .point_block .point-raji {
    left: 5%;
  }
}
@media (max-width: 1200px) {
  .map .point_block .point-raji {
    left: -10%;
  }
}
@media (max-width: 1000px) {
  .map .point_block .point-raji {
    left: -15%;
  }
}
@media (max-width: 800px) {
  .map .point_block .point-raji {
    top: 37%;
    left: -15%;
  }
}
@media (max-width: 600px) {
  .map .point_block .point-raji {
    top: 39%;
    left: -20%;
  }
}
@media (max-height: 700px) {
  .map .point_block .point-raji {
    top: 35%;
    left: -10%;
  }
}
.map .point_block .point-police {
  top: 23%;
  left: 60%;
}
@media (max-width: 1000px) {
  .map .point_block .point-police {
    left: 65%;
  }
}
@media (max-width: 800px) {
  .map .point_block .point-police {
    top: 31%;
    right: -5%;
  }
}
@media (max-width: 600px) {
  .map .point_block .point-police {
    top: 33%;
    right: -5%;
  }
}
@media (max-width: 425px) {
  .map .point_block .point-police {
    top: 37%;
    right: -15%;
  }
}
.map .point_block .point-traktir {
  top: 44%;
  left: 29%;
}
@media (max-width: 1440px) {
  .map .point_block .point-traktir {
    left: 25%;
  }
}
@media (max-width: 1200px) {
  .map .point_block .point-traktir {
    left: 19%;
  }
}
@media (max-width: 1000px) {
  .map .point_block .point-traktir {
    left: 13%;
  }
}
@media (max-width: 800px) {
  .map .point_block .point-traktir {
    top: 46%;
    left: 10%;
  }
}
@media (max-width: 600px) {
  .map .point_block .point-traktir {
    top: 47%;
    left: 0%;
  }
}
@media (max-width: 425px) {
  .map .point_block .point-traktir {
    top: 48%;
    left: 15%;
  }
}
@media (max-height: 700px) {
  .map .point_block .point-traktir {
    top: 46%;
    left: 24%;
  }
}
.map .point_block .point-house {
  top: 62%;
  right: 30%;
}
@media (max-width: 1440px) {
  .map .point_block .point-house {
    left: 68%;
  }
}
@media (max-width: 1200px) {
  .map .point_block .point-house {
    left: 70%;
  }
}
@media (max-width: 1000px) {
  .map .point_block .point-house {
    right: 10%;
  }
}
@media (max-width: 800px) {
  .map .point_block .point-house {
    top: 60%;
    right: 15%;
  }
}
@media (max-width: 600px) {
  .map .point_block .point-house {
    top: 59%;
    right: 15%;
  }
}
@media (max-width: 425px) {
  .map .point_block .point-house {
    top: 59%;
    right: 0%;
  }
}
@media (max-height: 700px) {
  .map .point_block .point-house {
    top: 65%;
    right: 0%;
  }
}
.map .point_block .point-antikvar {
  top: 74%;
  left: 15%;
}
@media (max-width: 1440px) {
  .map .point_block .point-antikvar {
    left: 7%;
  }
}
@media (max-width: 1200px) {
  .map .point_block .point-antikvar {
    left: 0%;
  }
}
@media (max-width: 1000px) {
  .map .point_block .point-antikvar {
    left: -11%;
  }
}
@media (max-width: 800px) {
  .map .point_block .point-antikvar {
    top: 68%;
    left: -15%;
  }
}
@media (max-width: 600px) {
  .map .point_block .point-antikvar {
    top: 65%;
    left: -20%;
  }
}
@media (max-height: 700px) {
  .map .point_block .point-antikvar {
    top: 70%;
    left: 0%;
  }
}
/*# sourceMappingURL=style.css.map */